{% extends 'core/base.html' %}
{% block titulo %} Ventas {% endblock %}
{% load static %}

{% block estilo %}
{% endblock %}

{% block contenido %}
<!-- Agregar producto -->
<div class="container mt-3">
    <div class="d-flex">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Agregar producto
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
     <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Material</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover" id="myTable">
                        <thead>
                            <tr>
                                <th># ID</th>
                                <th>Descripción</th>
                                <th>Precio $</th>
                                <th>Agregar</th>
                            </tr>
                        </thead>
                        <tbody class="text-dark">
                            {% for i in productos_lista %}
                            <tr>
                                <td>{{i.id}}</td>
                                <td>{{i.descripcion}}</td>
                                <td>$ {{i.costo}}</td>
                                <td>
                                    <button onclick="addProductList('{{i.id}}', '{{i.descripcion}}','{{i.precio}}')"
                                        class="btn btn-success" data-dismiss="modal" type="button">
                                        <i class="fas fa-share-square"></i>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<!-- Fin Agregar producto -->
<!-- Agregar producto -->
<div class="container mt-3">
    <div class="d-flex">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#Cliente">
            Cliente
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
     <!-- Modal -->
     <div class="modal fade" id="Cliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="Cliente">Seleccionar Cliente</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover" id="myTable2">
                        <thead>
                            <tr>
                                <th># ID</th>
                                <th>Nombre</th>
                                <th>Telefono</th>
                                <th>Seleccionar</th>
                            </tr>
                        </thead>
                        <tbody class="text-dark">
                            {% for i in clientes_lista %}
                            <tr>
                                <td>{{i.id}}</td>
                                <td>{{i.nombre}}</td>
                                <td>{{i.phone}}</td>
                                <td>
                                    <button onclick="seleccionarCliente('{{i.id}}', '{{i.nombre}}')" class="btn btn-success"
                                        data-dismiss="modal" type="button">
                                        <i class="fa-solid fa-user-plus"></i>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<!-- Fin Agregar producto -->

<!--Jquery-->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<!-- PAra datatable-->
<script src="{% static 'js/add_ventas.js' %}"></script>
{% endblock %}