{% extends 'core/base.html' %}
{% block titulo %} Calculadora de precios {% endblock %}
{% load static %}

{% block estilo %}
{% endblock %}

{% block contenido %}
<div class="d-flex justify-content-center align-items-center">
    <div class="p-5 rounded-5">
        <h5 class="border border-primary">Paso 1:Ingresa el procentaje de ganancia </h5>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">% de ganancia</span>
            <input type="number" id="ganancia" class="form-control" placeholder="Ej: 30% = 30" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <h5 class="border border-primary">Paso 2: Ingresa el valor de compra del producto</h5>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Precio de compra</span>
            <input type="number" id="costo" class="form-control" placeholder="Ingresa el precio" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        

        <div class="container mb-3">
            <h5>Precio del producto que trae el IVA</h5>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <span class="input-group-text">0.00</span>
            <input type="number" id="valor" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" readonly>
        </div>
        <div class="container mb-3">
            <h5>Precio del producto que no trae el IVA</h5>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <span class="input-group-text">0.00</span>
            <input type="number" id="valoriva" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" readonly>
        </div>
    </div>
    

</div>

<script src="{% static 'js/calculadora.js' %}"></script>
{% endblock %}